<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <pdf-viewer [src]="pdfSrc" [(page)]="page" [rotation]="rotation" [original-size]="originalSize" [show-all]="false"
      [fit-to-page]="true" (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom" [zoom-scale]="zoomScale"
      [stick-to-page]="stickToPage" [render-text]="renderText" [external-link-target]="'blank'"
      [autoresize]="autoresize" (error)="onError($event)" (on-progress)="onProgress($event)"
      (page-rendered)="pageRendered($event)" (pages-initialized)="pageInitialized($event)"
      (pageChange)="pageChange($event)" [show-borders]="false"></pdf-viewer>
    <mat-toolbar>
      <div *ngIf="error" class="error mb">
        {{ error.message | json }}
      </div>

      <button (click)="incrementPage(-1)" mat-button type="button">
        Previous
      </button>

      <mat-form-field class="page-number">
        <input matInput type="number" placeholder="Page" [(ngModel)]="page" pattern="-?[0-9]*(\.[0-9]+)?">
        <mat-error>Input is not a number!</mat-error>
      </mat-form-field>

      <span *ngIf="pdf">of {{ pdf.numPages }}</span>
      <button (click)="incrementPage(1)" mat-button type="button">
        Next
      </button>

      <div *ngIf="!isLoaded && !error && progressData" id="progress">
        <div class="bg">
          <div class="bar" [style.width]="progressData.loaded / progressData.total * 100 + '%'"></div>
        </div>
        <span>{{ getInt(progressData.loaded / progressData.total * 100) }}%</span>
      </div>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>